	@import 'variables';

.background-color-dark {
	background-color: $black;
}

.pagination { 
	padding: 3px; 
	margin: 3px; 
} 

.pagination a {
	padding: 2px 5px 2px 5px; 
	margin: 2px; 
	border: 1px solid #aaaadd;
	text-decoration: none; 
	color: #000099; 
} 

.pagination a:hover, .pagination a:active { 
	border: 1px solid #000099;
	color: #000;
} 

.pagination span.current { 
	padding: 2px 5px 2px 5px; 
	margin: 2px; 
	border: 1px solid #000099; 
	font-weight: bold; 
	background-color: #000099; 
	color: #FFF; 
} 

.pagination span.disabled { 
	padding: 2px 5px 2px 5px; 
	margin: 2px; 
	border: 1px solid #eee; 
	color: #ddd; 
}

.text-gray {
	color: $text-gray;
}

.vert-offset-top-1 {
    margin-top: 1em;
}

.extension {
	color: $red;
}

.btn-background {
	background-color: $black;
	border: 1px solid $hover-background;
	color: $text-gray;
}

.contentMiddle {
	background-image: image-url("background2.jpeg");	
	width:100% ;
	background-size:cover;
}

.marginTop {
	margin-top: 50px;
}

.marginRight10 {
	margin-right: 10px;
}

.paddingTop {
	padding-top: 50px;
}

.jumbotron {
   background: rgb(200, 54, 54); /* This is for ie8 and below */
   background: rgba(200, 54, 54, 0.0);
 }

.map {
	width: 100%;
	height: 400px;
	margin-bottom: 20px;
}

.advert{
	border: 1px solid #d2d2d2;
	border-radius: 5px;
	margin-top: 10px;
	padding:15px;
}

.center {
	text-align: center;
}

.right-text {
	text-align: right;
}

.btn-width {
	min-width: 197px;
}

.padding-top-form{
	padding-top: 100px;
}

.radio-buttons {
	label {
		font-weight: normal;
		margin: 0px;
		padding: 0px;
	}
}

input, textarea, select, .uneditable-input {
	border: 1px solid #d2d2d2;
	border-radius: 5px;
	width: 100%;
	margin-bottom: 15px; 
}

select#city_id.form-control {
	width: 100%;
}

h1 {
	text-align: center;
}

a:hover {
	text-decoration: none;
}